.login{        
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
         
}
#id{
    margin-bottom:10px;
    padding:3px;
    width:300px;
    height:30px;
}
#pw{
    width:300px;
    height:30px;
}
#button{
    width:100%;
    margin-top: 10px;
    padding:3px;
    background-color: black;
    color:white;
    cursor: pointer;
    margin-bottom: 10px;
}
.logo{
    margin-top:0px;
    margin-bottom:40px; 
    font-size:50px;   
}
.find{
    margin-top:20px;
    font-size:small;    
}
#fin{
    text-decoration-line: none;
    color:inherit;
}
.img{
    margin-top:10px;
}
#Gimg{
    margin-right:3px;
    border:1px solid white;
    border-radius: 70%;
    overflow:hidden;
    object-fit: cover;
}
#Nimg{
    border:1px solid white;
    border-radius: 70%;
    margin-right:3px;
    overflow:hidden;
    object-fit: cover;
}
#Kimg{
    border:1px solid white;
    border-radius: 70%;
    overflow:hidden;
    object-fit: cover;
}
#header{
    height:200px;
}
