<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        let num = 1;
        let num_left=num-1;
        let num_right= num+1;

        function prev(){
            num--;
            num_left--;
            num_right--;
            if(num<1){
                num=4;
            }else if(num_left==0){
                num_left=4;
            }else if(num_right==0){
                num_right=4;
            }
            document.getElementById("gallery_left").src= "../../resources/image/a0"+(num_left)+".jpg";
            document.getElementById("gallery_center").src= "../../resources/image/a0"+num+".jpg";
            document.getElementById("gallery_right").src= "../../resources/image/a0"+(num_right)+".jpg";
            return false;
        }
        function next(){
            num++;
            num_left++;
            num_right++;
            if(num>4){
                num=1;
            }
            if(num_right==5){
                num_right=1;
            }
            if(num_left==5){
                num_left=1;
            }
            document.getElementById("gallery_left").src= "../../resources/image/a0"+(num_left)+".jpg";
            document.getElementById("gallery_center").src= "../../resources/image/a0"+num+".jpg";
            document.getElementById("gallery_right").src= "../../resources/image/a0"+(num_right)+".jpg";
            return false;
        }
        $(function(){
            $(".best>a").hover(
                function(){
                    $(this).parent().children("div").fadeIn('slow');
                    $(this).parent().children("div").css("display","block"); 
                },
                function(){
                    $(this).parent().children("div").fadeOut();
                }
            );
        });
        $(function(){
            $(".new>a").hover(
                function(){
                    $(this).parent().children("div").fadeIn('slow');
                    $(this).parent().children("div").css("display","block"); 
                },
                function(){
                    $(this).parent().children("div").fadeOut();
                }
            );
        });
    </script>

</head>
<body>
    <div id="header">
    </div>
    <div id="body">
        <div id="main">
            <a href="" onclick="return prev();">◀</a>
            <img src="../../resources/image/a04.jpg" id="gallery_left">
            <img src="../../resources/image/a01.jpg" id="gallery_center">
            <img src="../../resources/image/a02.jpg" id="gallery_right">
            <a href="" onclick="return next();">▶</a>
        </div>
        <br><br><br>
        
        <div id="bestmenu">
            <h3>Best</h3>
            <div class="best"><a href=""><img src="../../resources/image/a01.jpg"></a><div>테스트</div></div>
            <div class="best"><a href=""><img src="../../resources/image/a02.jpg"></a><div>테스트</div></div>
            <div class="best"><a href=""><img src="../../resources/image/a03.jpg"></a><div>테스트</div></div>
            <div class="best"><a href=""><img src="../../resources/image/a04.jpg"></a><div>테스트</div></div>
        </div>
        <br>
        <div id="newmenu">
            <h3 style="margin-top: 50px;">New</h3>
            <div class="new"><a href=""><img src="../../resources/image/d17.jpg"></a><div>테스트</div></div>
            <div class="new"><a href=""><img src="../../resources/image/d18.jpg"></a><div>테스트</div></div>
            <div class="new"><a href=""><img src="../../resources/image/d19.jpg"></a><div>테스트</div></div>
            <div class="new"><a href=""><img src="../../resources/image/d20.gif"></a><div>테스트</div></div>
        </div>
    </div>
</body>
</html>